{% extends "common.html" %} 
{% block content %}
{% block body %}

<script src="https://cdn.flexmonster.com/flexmonster.js"></script>
<link rel="stylesheet" href="https://cdn.flexmonster.com/demo.css">

<div class="container">
	<a href="{% url 'blog-visualize' %}"><button class="btn btn-outline-primary">Refresh</button></a>
	<a href="{% url 'blog-results' %}"><button class="btn btn-outline-primary" >Go to logs</button></a>
	<br>
</div>

<div id="pivot-table-container"></div>

<script type="text/javascript">
	function processData(dataset) 
	{
		var result = []
	    if(dataset.length==0)//no result has been generated
	    {
	    	alert("Please wait for the training to begin.")
	    	return result;
	    }
	    else
	    {
	    	result.push(Object.keys(dataset[0]))
	    	dataset.forEach(item => result.push(Object.values(item)));
	    	return result;
	    }	
	}

$.ajax({
	url:"data/",
	dataType: 'json',
	success: function(data) {
		new Flexmonster({
			container: "#pivot-table-container",
			componentFolder: "https://cdn.flexmonster.com/",
			width: "100%",
			height: 430,
			toolbar: true,
			beforetoolbarcreated: customizeToolbar,
			report: {
				dataSource: {
					type: "json",
					data: processData(data),
					mapping: {
						"accuracy": {
							"caption": "Accuracy",
							"type": "number"
						},

							"epoch": {
							"caption": "Epoch Number",
							"type": "number"
						},
						"learning_rate": {
							"caption": "Learning Rate",
							"type": "number"
						},

						"loss": {
							"caption": "Loss",
							"type": "number"
						},
				
						"top_k_categorical_accuracy":{
							"caption": "Top 5 Accuracy",
							"type": "number"

						},
						"val_accuracy": {
							"caption": "Validation Accuracy",
							"type": "number"
						},
						"val_loss":{
							"caption": "Validation Loss",
							"type": "number"
						},						
						"val_top_k_categorical_accuracy":{
							"caption": "Validation Top 5 Accuracy",
							"type": "number"
						}
					}
				},
				slice: {
					rows:[
					{ 
						"uniqueName": "epoch" 
					}],
					columns: [
					{
						"uniqueName": "[Measures]"
					}],
					"measures": [
					{
						formula: 'min("learning_rate")',
						uniqueName: "Learning Rate",
						caption: "Learning Rate",
						active: true
					} ,
					{
						formula: 'min("loss")',
						uniqueName: "Loss",
						caption: "Loss",
						active: true
					} ,
					{
						formula: 'min("accuracy")',
						uniqueName: "Accuracy",
						caption: "Accuracy",
						active: true   
					},
					{
						formula: 'min("top_k_categorical_accuracy")',
						uniqueName: "Top K Accuracy",
						caption: "Top K Accuracy",
						active: true
					},
					{
						formula: 'min("val_loss")',
						uniqueName: "Validation Loss",
						caption: "Validation Loss",
						active: true                            
					},
					{
						formula: 'min("val_accuracy")',
						uniqueName: "Validation Accuracy",
						caption: "Validation Accuracy",
						active: true 
					},
					{
						formula: 'min("val_top_k_categorical_accuracy")',
						uniqueName: "Validation Top K Accuracy",
						caption: "Validation Top K Accuracy",
						active: true                            
					}
					]
				},
				options:{
					showGrandTotals :"off"
				}
			}
		});
	}
});

	// Removed open and connect to DB option
	function customizeToolbar(toolbar) 
	{
	    // get all tabs
	    var tabs = toolbar.getTabs();
	    toolbar.getTabs = function () 
	    {
	    	delete tabs[0];
	    	delete tabs[1];
	    	return tabs;
	    }
	}
</script>
{% endblock body %}
{% endblock content %}